@import "tailwindcss";

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);
}

body {
  @apply antialiased;
  text-rendering: geometricPrecision;
  cursor:
    url("../assets/icons/circle.svg") 15 15,
    auto;
}
